input[type="number"] {
  max-width: 80%;
}
/*Information Button*/
#show {
  /*display:block;*/
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 3px solid black;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

#show2 {
  /*display:block;*/
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 3px solid black;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

div.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}


#stationline{
  height:90vh !important;
}
#profile{
  height:90vh !important;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.95;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
#cite2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
#sidebar { 
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
  height:100%;
} 
/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}